@page "/"
@rendermode InteractiveWebAssembly
@inject NavigationManager NavigationManager

<PageTitle>Flash Cards</PageTitle>

<div class="page">
    <h1 class="name-game">Flash Cards</h1>

    <div class="menu">
        <button @onclick="NavigateToGamePage">Play</button>
        <button>Settings</button>
    </div>
</div>

@code {
    private void NavigateToGamePage()
    {
        NavigationManager.NavigateTo("/game");
    }
}