.page {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    height: 98vh;

    border: 8px solid;
    border-radius: 10px;
}

.name-game {
    width: 40vw;
    margin: 15vh auto;
    padding: 1.5rem;

    font-size: 2rem;
    text-align: center;
    
    border: 6px solid;
    border-radius: 30px;
}

.menu button {
    margin: 10em auto;

    display: block;
    width: 16rem;
    height: 4rem;

    background-color: transparent;
    border: 4px solid;
    border-radius: 10px;
}