@page "/"

<PageTitle>Flash Cards</PageTitle>

<div class="page">
    <main>
        <h1 class="name-game">Flash Cards</h1>

        <div class="menu">
            <button>Play</button>
            <button>Settings</button>
        </div>
    </main>
</div>

@code {

}